@font-face {
    font-family: 'arista_2.0regular';
    src: url('../fonts/arista2.0.woff2') format('woff2'),
         url('../fonts/arista2.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arista_2.0_alternateregular';
    src: url('../fonts/arista2.0alternate.woff2') format('woff2'),
         url('../fonts/arista2.0alternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css?family=Poppins&display=swap') format('woff2');
    font-weight: normal;
    font-style: normal;

}


.logo-react {
    width: 60px;
}

header {
    font-family: 'arista_2.0regular';
    margin-top: 0px;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #63b7af;
    padding-top: 13px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(193,195,199,1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(193,195,199,1);
    box-shadow: 0px 0px 6px 2px rgba(193,195,199,1);
}

.img-class {
    width: 100%;
}
.logo-name {
    padding-top: 13px;
    margin-left: -35px;
    margin-right: 20px;
    color: rgb(17, 0, 255);
}

.toko {
    font-family:'arista_2.0regular';
    margin-top: -3px;
    font-size: 30px;
    color: black;
}

.search1 {
    width: 50px;
    margin-left: -30px;
    padding-top: 5px;
}

.navi {
    display: inline;
    margin-left: 15px;
    font-size: 13px;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    width: 81px;
    background-color: ghostwhite;
    color: gray;
    border: none;
}

.navi3 {
    display: inline;
    margin-left: 35px;
    font-size: 13px;
    width: 35px;
}

.navi2 {
    display: inline;
    font-size: 13px;
    width: 35px;
    margin-left: -30px;
}

.navi1 {
    display: inline;
    margin-left: 15px;
    font-size: 13px;
    width: 35px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    padding-top: 10px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    padding-top: 15px;
    margin-left: 30px;
    color: gray;
}

.header li {
    display: inline;
}

.search {
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.user_in {
    margin-left: -70px;
}

.box_list {
    /* background-color: white; */
    margin-top: 40px;
    font-size: 15px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(235, 235, 243);
    box-shadow: rgb(197, 197, 190);
    float: left;
    padding-right: 213px;
    width: inherit;
}

.box_list1 {
    background-color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid rgb(235, 235, 243);
    box-shadow: rgb(197, 197, 190);
    float: left;
    width: inherit;
}

.kategori {
    text-decoration: none;
    color: black;
}

.dropbtn {
    background-color: #63b7af;
    color:black !important;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 120px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    border-color: #63b7af;
    background-color: #8cd2d8;
    font-size: 15px;
}

.dropdown-position {
    margin-left: 65px;
    margin-right: -65px;
    padding-top: 17px;
}
.dropdown-content a:hover {background-color: #63b7af;}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color: #63b7af;
  }

div {
    font-family: 'Poppins';
}

/* ---------- footer --------- */

footer {
    font-family:'arista_2.0regular';
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #63b7af;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.bottom0 {
    margin-top: 30px;
    text-align: left;
    padding-left: 50px;
    border-left: #d3d2d2 1px solid;
}
.bottom1 {
    text-align: left;
    padding-left: 50px;
    border-left: #d3d2d2 1px solid;
}

.bottom-right {
    padding-top: 30px;
    padding-bottom: 5px;
}

.add {
    padding-left: 35px;
}

@media screen and (max-width: 600px) {
    header {
        font-family:'arista_2.0regular';
        margin-top: 0px;
        position: absolute;
        width: 100%;
        z-index: 5;
        background-color: #63b7af;
        padding-top: 13px;
        -webkit-box-shadow: 0px 0px 6px 2px rgba(193,195,199,1);
        -moz-box-shadow: 0px 0px 6px 2px rgba(193,195,199,1);
        box-shadow: 0px 0px 6px 2px rgba(193,195,199,1);
    }
    .logo-name {
        padding-top: 13px;
        color: rgb(17, 0, 255);
        margin-left: 0;
        margin-right: 0;
    }

    .dropbtn {
        background-color: #63b7af;
        color: black !important;
        font-size: 20px;
        border: none;
        cursor: pointer;
        margin-top: 0;
        margin-left: 0;
    }

    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        display: block;
        margin: auto;
        width: 61%;
        margin-right: 0;
        margin-left: 105px;
        margin-top: -25px;
    }
    .list-unstyled {
        padding-left: 0;
        list-style: none;
        color: gray;
        margin-left: 142px;
    }
    .dropdown-content {
        border-radius: 5%;
        border-color: #63b7af;
        display: none;
        position: absolute;
        background-color: #63b7af;
        min-width: 160px;
        border: none;
        margin-top: -15px;
        z-index: 1;
        margin-left: 0px;
    }
    .toko {
        font-family: 'arista_2.0regular';
        margin-top: -3px;
        font-size: 44px;
        color: black;
        padding: 25px;
    }
    div .col-sm-6 {
        width: 180px;
    }
    .add {
        padding-left: 0px;
    }
    footer {
        font-family: 'arista_2.0regular';
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #63b7af;
        position: relative;
        width: 100%;
        bottom: 0px
    }
    .bottom0 {
        text-align: left;
        border-left: white 2px solid;
        margin-left: 40px;
        margin-top: 5px;
    }

    .bottom1 {
        text-align: left;
        border-left: white 2px solid;
        margin-left: 40px;
        margin-top: 5px;
    }
}