.container-user {
    padding-left: 250px;
    padding-right: 250px;
    text-align: left;
}

.alamat-email {
    padding-bottom: 30px;
    border-bottom: rgb(210, 223, 202) 1px solid;
}

.user-full-name {
    padding-top: 130px;
}

.border-user {
    border-bottom: rgb(210, 223, 202) 1px solid;
    padding-bottom: 30px;
}

.border-user1 {
    padding-top: 0px;
}

.button-logout {
    padding-left: 150px;
}

.space-under-button {
    margin-top: 50px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .top-body-user{
        padding-top: 420px;
    }
    .border-user1 {
        border-bottom: rgb(210, 223, 202) 1px solid;
        padding-bottom: 30px;
        padding-top: 120px;
        padding-left: 0px !important;
    }
    .user-full-name {
        padding-top: 320px !important;
    }
    .container-user {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
    .button-sell{
        margin-left: -65px;
    }
    .button-logout {
        margin-left: -67px;
    }

}